create or replace database BEGA_MASTER_LANDING_{{ env }} COMMENT='Database for Landing the Master Data';

create or replace schema BEGA_MASTER_LANDING_{{ env }}.M3;

create or replace TABLE BEGA_MASTER_LANDING_{{ env }}.M3.CALENDAR (
	DIM_CALENDAR_DKEY NUMBER(38,0),
	COMPANY NUMBER(38,0),
	DIVISION VARCHAR(16777216),
	DATE_YYYYMMDD NUMBER(38,0),
	DATE_DDMMYY NUMBER(38,0),
	DATE_MMDDYY NUMBER(38,0),
	DATE_YYMMDD NUMBER(38,0),
	DATE_YYWWD NUMBER(38,0),
	ALT_QUARTER NUMBER(38,0),
	ALT_WEEK NUMBER(38,0),
	FISCAL_YEAR NUMBER(38,0),
	MONTHDAY NUMBER(38,0),
	MONTH NUMBER(38,0),
	BANK_DAY NUMBER(38,0),
	BANK_DAY_SERIAL_NUMBER NUMBER(38,0),
	WEEKDAY NUMBER(38,0),
	DAY_NUMBER_YYYYNNN_WYD01_CDCDNO NUMBER(38,0),
	DAY_NUMBER_YYYYNNN_WYD01_CDYDNO NUMBER(38,0),
	GOODS_RECEIVING_DAY_WGDA0_CDGDAY NUMBER(38,0),
	GOODS_RECEIVING_DAY_SERIAL_NUMBER_CDGDNO NUMBER(38,0),
	WORKING_DAY_SERIAL_NUMBER NUMBER(38,0),
	YEAR NUMBER(38,0),
	PERIOD NUMBER(38,0),
	PERIOD_TYPE_1 NUMBER(38,0),
	PERIOD_TYPE_2 NUMBER(38,0),
	PERIOD_TYPE_3 NUMBER(38,0),
	PERIOD_TYPE_4 NUMBER(38,0),
	PERIOD_TYPE_5 NUMBER(38,0),
	MONTH_NAME VARCHAR(16777216),
	QUARTER NUMBER(38,0),
	QUARTER_NAME VARCHAR(16777216),
	WEEK NUMBER(38,0),
	YEAR_TYPE_1 NUMBER(38,0),
	YEAR_TYPE_2 NUMBER(38,0),
	PERIOD_TYPE_2_YEAR_NAME VARCHAR(16777216),
	YEAR_TYPE_3 NUMBER(38,0),
	PERIOD_TYPE_3_YEAR_NAME VARCHAR(16777216),
	YEAR_TYPE_4 NUMBER(38,0),
	PERIOD_TYPE_4_YEAR_NAME VARCHAR(16777216),
	YEAR_TYPE_5 NUMBER(38,0),
	YEARP NUMBER(38,0),
	YEARQ NUMBER(38,0),
	YEARW NUMBER(38,0),
	FISCAL_YEAR_NAME VARCHAR(16777216),
	FISCAL_HALF_YEAR NUMBER(38,0),
	FISCAL_HALF_YEAR_NAME VARCHAR(16777216),
	FISCAL_QUARTER NUMBER(38,0),
	FISCAL_MONTH NUMBER(38,0),
	FISCAL_MONTH_NAME VARCHAR(16777216),
	FISCAL_WEEK NUMBER(38,0),
	FISCAL_WEEK_NAME VARCHAR(16777216),
	DATE_CHAR VARCHAR(16777216),
	DATE_YYYMMDD_CHAR VARCHAR(16777216),
	PERIOD_TYPE_1_NAME VARCHAR(16777216),
	PERIOD_TYPE_2_NAME VARCHAR(16777216),
	PERIOD_TYPE_3_NAME VARCHAR(16777216),
	PERIOD_TYPE_4_NAME VARCHAR(16777216),
	FIRST_DAY_OF_WEEK VARCHAR(16777216),
	LAST_DAY_OF_WEEK VARCHAR(16777216),
	FIRST_DAY_OF_PERIOD VARCHAR(16777216),
	LAST_DAY_OF_PERIOD VARCHAR(16777216),
	FIRST_DAY_OF_FONTERRA_PERIOD VARCHAR(16777216),
	LAST_DAY_OF_FONTERRA_PERIOD VARCHAR(16777216),
	INVENTORY_LAST_DAY_OF_WEEK VARCHAR(16777216),
	INVENTORY_LAST_DAY_OF_PERIOD VARCHAR(16777216),
	INVENTORY_LAST_DAY_OF_FONTERRA_PERIOD VARCHAR(16777216),
	PREVIOUS_PERIOD_TYPE_4 VARCHAR(16777216),
	PREVIOUS_PERIOD_TYPE_4_WEEK_STARTING VARCHAR(16777216),
	MATERIAL_PLAN_FLAG VARCHAR(16777216),
	MATERIAL_PLAN_FISCAL_PERIOD_OPENING_DAY VARCHAR(16777216),
	CURRENT_DAY_FLAG VARCHAR(16777216),
	CURRENT_WEEK_FIRST_DAY_FLAG VARCHAR(16777216),
	FISCAL_PERIOD_NUMBER_OF_DAYS NUMBER(38,0),
	FISCAL_WEEK_NUMBER_OF_DAYS NUMBER(38,0),
	FONTERRA_PERIOD_NUMBER_OF_DAYS NUMBER(38,0),
	YEAR_CHAR VARCHAR(16777216),
	ALT_QUARTER_CHAR VARCHAR(16777216),
	ALT_QUARTER_NAME VARCHAR(16777216),
	ALT_HALF VARCHAR(16777216),
	ALT_HALF_NAME VARCHAR(16777216),
	MONTH_CHAR VARCHAR(16777216),
	MONTH_SHORT_NAME VARCHAR(16777216),
	ALT_WEEK_CHAR VARCHAR(16777216),
	ALT_WEEK_NAME VARCHAR(16777216),
	_MODIFIED_ VARCHAR(16777216),
	_SESSION_ VARCHAR(16777216),
	_STATUS_ NUMBER(38,0),
	_CREATED_ VARCHAR(16777216),
	_EXCEPTIONOBJECTID_ VARCHAR(16777216),
	DATE DATE
);
create or replace TABLE BEGA_MASTER_LANDING_{{ env }}.M3.DIM_ACCOUNTINGDIMENSION2 (
	DIM_ACCOUNTINGDIMENSION2_DKEY NUMBER(38,0),
	COMPANY NUMBER(38,0),
	DIVISION VARCHAR(16777216),
	ACCOUNTING_IDENTITY VARCHAR(16777216),
	ACCOUNTING_IDENTITY_NAME VARCHAR(16777216),
	ACCOUNTING_IDENTITY_DESCRIPTION VARCHAR(16777216),
	ACCOUNTING_IDENTITY_ID_NAME VARCHAR(16777216),
	ACCOUNTING_IDENTITY_ID_DESCRIPTION VARCHAR(16777216),
	LOCAL_CURRENCY VARCHAR(16777216),
	DIVISION_ID_NAME VARCHAR(16777216),
	ACCOUNT_CLASS_LEVEL_1 VARCHAR(16777216),
	ACCOUNT_CLASS_LEVEL_2 VARCHAR(16777216),
	ACCOUNT_CLASS_LEVEL_3 VARCHAR(16777216),
	ACCOUNT_CLASS_LEVEL_4 VARCHAR(16777216),
	ACCOUNT_CLASS_LEVEL_1_KEY VARCHAR(16777216),
	ACCOUNT_CLASS_LEVEL_2_KEY VARCHAR(16777216),
	ACCOUNT_CLASS_LEVEL_3_KEY VARCHAR(16777216),
	ACCOUNT_CLASS_LEVEL_4_KEY VARCHAR(16777216),
	RECORD_SOURCE VARCHAR(16777216),
	RESPONSIBLE VARCHAR(16777216),
	BUSINESS_UNIT VARCHAR(16777216),
	_CREATED_ VARCHAR(16777216),
	_MODIFIED_ VARCHAR(16777216),
	_STATUS_ NUMBER(38,0),
	_SESSION_ VARCHAR(16777216),
	_EXCEPTIONOBJECTID_ VARCHAR(16777216),
	FUNCTIONAL_ID VARCHAR(16777216),
	FUNCTIONAL_NAME VARCHAR(16777216),
	FUNCTIONAL_DESCRIPTION VARCHAR(16777216),
	FUNCTIONAL_ID_NAME VARCHAR(16777216),
	FUNCTIONAL_ID_DESCRIPTION VARCHAR(16777216)
);