create or replace database BEGA_MASTER_DATA_{{ env }} COMMENT='Database for the Master Data';

create or replace schema BEGA_MASTER_DATA_{{ env }}.CONTROL;

create or replace TABLE BEGA_MASTER_DATA_{{ env }}.CONTROL.PARAMETER (
	PARAMETER_TYPE VARCHAR(16777216) NOT NULL,
	PARAMETER_VALUE VARCHAR(16777216) NOT NULL
)COMMENT='Parameters table for the MASTER domain in the Snowflake Data Platform'
;
create or replace schema BEGA_MASTER_DATA_{{ env }}.REPORTING;

create or replace view BEGA_MASTER_DATA_{{ env }}.REPORTING.DIM_CALENDAR(
	DATE_KEY,
	DATE,
	DATE_YYYYMMDD,
	DATE_DDMMYY,
	DATE_MMDDYY,
	DATE_YYMMDD,
	DATE_YYWWD,
	ALT_QUARTER,
	ALT_WEEK,
	FISCAL_YEAR,
	MONTHDAY,
	MONTH,
	BANK_DAY,
	BANK_DAY_SERIAL_NUMBER,
	WEEKDAY,
	DAY_NUMBER_YYYYNNN_WYD01_CDCDNO,
	DAY_NUMBER_YYYYNNN_WYD01_CDYDNO,
	GOODS_RECEIVING_DAY_WGDA0_CDGDAY,
	GOODS_RECEIVING_DAY_SERIAL_NUMBER_CDGDNO,
	WORKING_DAY_SERIAL_NUMBER,
	YEAR,
	PERIOD,
	PERIOD_TYPE_1,
	PERIOD_TYPE_2,
	PERIOD_TYPE_3,
	PERIOD_TYPE_4,
	PERIOD_TYPE_5,
	MONTH_NAME,
	MONTH_SHORT,
	QUARTER,
	QUARTER_NAME,
	WEEK,
	YEAR_TYPE_1,
	YEAR_TYPE_2,
	PERIOD_TYPE_2_YEAR_NAME,
	YEAR_TYPE_3,
	PERIOD_TYPE_3_YEAR_NAME,
	YEAR_TYPE_4,
	PERIOD_TYPE_4_YEAR_NAME,
	YEAR_TYPE_5,
	YEARP,
	YEARQ,
	YEARW,
	FISCAL_YEAR_NAME,
	FISCAL_HALF_YEAR,
	FISCAL_HALF_YEAR_NAME,
	FISCAL_QUARTER,
	FISCAL_MONTH,
	FISCAL_MONTH_NAME,
	FISCAL_WEEK,
	FISCAL_WEEK_NAME,
	DATE_CHAR,
	DATE_YYYMMDD_CHAR,
	PERIOD_TYPE_1_NAME,
	PERIOD_TYPE_2_NAME,
	PERIOD_TYPE_3_NAME,
	PERIOD_TYPE_4_NAME,
	FIRST_DAY_OF_WEEK,
	LAST_DAY_OF_WEEK,
	FIRST_DAY_OF_PERIOD,
	LAST_DAY_OF_PERIOD,
	FIRST_DAY_OF_FONTERRA_PERIOD,
	LAST_DAY_OF_FONTERRA_PERIOD,
	INVENTORY_LAST_DAY_OF_WEEK,
	INVENTORY_LAST_DAY_OF_PERIOD,
	INVENTORY_LAST_DAY_OF_FONTERRA_PERIOD,
	PREVIOUS_PERIOD_TYPE_4,
	PREVIOUS_PERIOD_TYPE_4_WEEK_STARTING,
	MATERIAL_PLAN_FLAG,
	MATERIAL_PLAN_FISCAL_PERIOD_OPENING_DAY,
	CURRENT_DAY_FLAG,
	CURRENT_WEEK_FIRST_DAY_FLAG,
	FISCAL_PERIOD_NUMBER_OF_DAYS,
	FISCAL_WEEK_NUMBER_OF_DAYS,
	FONTERRA_PERIOD_NUMBER_OF_DAYS,
	YEAR_CHAR,
	ALT_QUARTER_CHAR,
	ALT_QUARTER_NAME,
	ALT_HALF,
	ALT_HALF_NAME,
	MONTH_CHAR,
	MONTH_SHORT_NAME,
	ALT_WEEK_CHAR,
	ALT_WEEK_NAME
) as

select
    DATE_KEY,
    DATE,
    DATE_YYYYMMDD,
    DATE_DDMMYY,
    DATE_MMDDYY,
    DATE_YYMMDD,
    DATE_YYWWD,
    ALT_QUARTER,
    ALT_WEEK,
    FISCAL_YEAR,
    MONTHDAY,
    MONTH,
    BANK_DAY,
    BANK_DAY_SERIAL_NUMBER,
    WEEKDAY,
    DAY_NUMBER_YYYYNNN_WYD01_CDCDNO,
    DAY_NUMBER_YYYYNNN_WYD01_CDYDNO,
    GOODS_RECEIVING_DAY_WGDA0_CDGDAY,
    GOODS_RECEIVING_DAY_SERIAL_NUMBER_CDGDNO,
    WORKING_DAY_SERIAL_NUMBER,
    YEAR,
    PERIOD,
    PERIOD_TYPE_1,
    PERIOD_TYPE_2,
    PERIOD_TYPE_3,
    PERIOD_TYPE_4,
    PERIOD_TYPE_5,
    MONTH_NAME,
    MONTH_SHORT,
    QUARTER,
    QUARTER_NAME,
    WEEK,
    YEAR_TYPE_1,
    YEAR_TYPE_2,
    PERIOD_TYPE_2_YEAR_NAME,
    YEAR_TYPE_3,
    PERIOD_TYPE_3_YEAR_NAME,
    YEAR_TYPE_4,
    PERIOD_TYPE_4_YEAR_NAME,
    YEAR_TYPE_5,
    YEARP,
    YEARQ,
    YEARW,
    FISCAL_YEAR_NAME,
    FISCAL_HALF_YEAR,
    FISCAL_HALF_YEAR_NAME,
    FISCAL_QUARTER,
    FISCAL_MONTH,
    FISCAL_MONTH_NAME,
    FISCAL_WEEK,
    FISCAL_WEEK_NAME,
    DATE_CHAR,
    DATE_YYYMMDD_CHAR,
    PERIOD_TYPE_1_NAME,
    PERIOD_TYPE_2_NAME,
    PERIOD_TYPE_3_NAME,
    PERIOD_TYPE_4_NAME,
    FIRST_DAY_OF_WEEK,
    LAST_DAY_OF_WEEK,
    FIRST_DAY_OF_PERIOD,
    LAST_DAY_OF_PERIOD,
    FIRST_DAY_OF_FONTERRA_PERIOD,
    LAST_DAY_OF_FONTERRA_PERIOD,
    INVENTORY_LAST_DAY_OF_WEEK,
    INVENTORY_LAST_DAY_OF_PERIOD,
    INVENTORY_LAST_DAY_OF_FONTERRA_PERIOD,
    PREVIOUS_PERIOD_TYPE_4,
    PREVIOUS_PERIOD_TYPE_4_WEEK_STARTING,
    MATERIAL_PLAN_FLAG,
    MATERIAL_PLAN_FISCAL_PERIOD_OPENING_DAY,
    CURRENT_DAY_FLAG,
    CURRENT_WEEK_FIRST_DAY_FLAG,
    FISCAL_PERIOD_NUMBER_OF_DAYS,
    FISCAL_WEEK_NUMBER_OF_DAYS,
    FONTERRA_PERIOD_NUMBER_OF_DAYS,
    YEAR_CHAR,
    ALT_QUARTER_CHAR,
    ALT_QUARTER_NAME,
    ALT_HALF,
    ALT_HALF_NAME,
    MONTH_CHAR,
    MONTH_SHORT_NAME,
    ALT_WEEK_CHAR,
    ALT_WEEK_NAME,
from BEGA_MASTER_DATA_{{ env }}.TRANSFORMED.CALENDAR
;
create or replace schema BEGA_MASTER_DATA_{{ env }}.STAGING;

create or replace schema BEGA_MASTER_DATA_{{ env }}.TRANSFORMED;

create or replace dynamic table BEGA_MASTER_DATA_{{ env }}.TRANSFORMED.CALENDAR(
	DATE_KEY,
	DATE,
	DATE_YYYYMMDD,
	DATE_DDMMYY,
	DATE_MMDDYY,
	DATE_YYMMDD,
	DATE_YYWWD,
	ALT_QUARTER,
	ALT_WEEK,
	FISCAL_YEAR,
	MONTHDAY,
	MONTH,
	BANK_DAY,
	BANK_DAY_SERIAL_NUMBER,
	WEEKDAY,
	DAY_NUMBER_YYYYNNN_WYD01_CDCDNO,
	DAY_NUMBER_YYYYNNN_WYD01_CDYDNO,
	GOODS_RECEIVING_DAY_WGDA0_CDGDAY,
	GOODS_RECEIVING_DAY_SERIAL_NUMBER_CDGDNO,
	WORKING_DAY_SERIAL_NUMBER,
	YEAR,
	PERIOD,
	PERIOD_TYPE_1,
	PERIOD_TYPE_2,
	PERIOD_TYPE_3,
	PERIOD_TYPE_4,
	PERIOD_TYPE_5,
	MONTH_NAME,
	MONTH_SHORT,
	QUARTER,
	QUARTER_NAME,
	WEEK,
	YEAR_TYPE_1,
	YEAR_TYPE_2,
	PERIOD_TYPE_2_YEAR_NAME,
	YEAR_TYPE_3,
	PERIOD_TYPE_3_YEAR_NAME,
	YEAR_TYPE_4,
	PERIOD_TYPE_4_YEAR_NAME,
	YEAR_TYPE_5,
	YEARP,
	YEARQ,
	YEARW,
	FISCAL_YEAR_NAME,
	FISCAL_HALF_YEAR,
	FISCAL_HALF_YEAR_NAME,
	FISCAL_QUARTER,
	FISCAL_MONTH,
	FISCAL_MONTH_NAME,
	FISCAL_WEEK,
	FISCAL_WEEK_NAME,
	DATE_CHAR,
	DATE_YYYMMDD_CHAR,
	PERIOD_TYPE_1_NAME,
	PERIOD_TYPE_2_NAME,
	PERIOD_TYPE_3_NAME,
	PERIOD_TYPE_4_NAME,
	FIRST_DAY_OF_WEEK,
	LAST_DAY_OF_WEEK,
	FIRST_DAY_OF_PERIOD,
	LAST_DAY_OF_PERIOD,
	FIRST_DAY_OF_FONTERRA_PERIOD,
	LAST_DAY_OF_FONTERRA_PERIOD,
	INVENTORY_LAST_DAY_OF_WEEK,
	INVENTORY_LAST_DAY_OF_PERIOD,
	INVENTORY_LAST_DAY_OF_FONTERRA_PERIOD,
	PREVIOUS_PERIOD_TYPE_4,
	PREVIOUS_PERIOD_TYPE_4_WEEK_STARTING,
	MATERIAL_PLAN_FLAG,
	MATERIAL_PLAN_FISCAL_PERIOD_OPENING_DAY,
	CURRENT_DAY_FLAG,
	CURRENT_WEEK_FIRST_DAY_FLAG,
	FISCAL_PERIOD_NUMBER_OF_DAYS,
	FISCAL_WEEK_NUMBER_OF_DAYS,
	FONTERRA_PERIOD_NUMBER_OF_DAYS,
	YEAR_CHAR,
	ALT_QUARTER_CHAR,
	ALT_QUARTER_NAME,
	ALT_HALF,
	ALT_HALF_NAME,
	MONTH_CHAR,
	MONTH_SHORT_NAME,
	ALT_WEEK_CHAR,
	ALT_WEEK_NAME
) target_lag = '2 hours' refresh_mode = AUTO initialize = ON_CREATE warehouse = COMPUTE_WH
 as

/*
-- Data Prep
alter table BEGA_MASTER_LANDING_{{ env }}.M3.CALENDAR drop column DATE;

alter table BEGA_MASTER_LANDING_{{ env }}.M3.CALENDAR add column DATE date;

delete from BEGA_MASTER_LANDING_{{ env }}.M3.CALENDAR where YEAR = '0';

update BEGA_MASTER_LANDING_{{ env }}.M3.CALENDAR
set DATE = TO_DATE(CONCAT(YEAR, '-', MONTH, '-', MONTHDAY))
;
*/

select
    DATE_YYYYMMDD as DATE_KEY,
    DATE,
    DATE_YYYYMMDD,
    DATE_DDMMYY,
    DATE_MMDDYY,
    DATE_YYMMDD,
    DATE_YYWWD,
    ALT_QUARTER,
    ALT_WEEK,
    FISCAL_YEAR,
    MONTHDAY,
    MONTH,
    BANK_DAY,
    BANK_DAY_SERIAL_NUMBER,
    WEEKDAY,
    DAY_NUMBER_YYYYNNN_WYD01_CDCDNO,
    DAY_NUMBER_YYYYNNN_WYD01_CDYDNO,
    GOODS_RECEIVING_DAY_WGDA0_CDGDAY,
    GOODS_RECEIVING_DAY_SERIAL_NUMBER_CDGDNO,
    WORKING_DAY_SERIAL_NUMBER,
    YEAR,
    PERIOD,
    PERIOD_TYPE_1,
    PERIOD_TYPE_2,
    PERIOD_TYPE_3,
    PERIOD_TYPE_4,
    PERIOD_TYPE_5,
    MONTH_NAME,
    LEFT(MONTH_NAME, 3) as MONTH_SHORT,
    QUARTER,
    QUARTER_NAME,
    WEEK,
    YEAR_TYPE_1,
    YEAR_TYPE_2,
    PERIOD_TYPE_2_YEAR_NAME,
    YEAR_TYPE_3,
    PERIOD_TYPE_3_YEAR_NAME,
    YEAR_TYPE_4,
    PERIOD_TYPE_4_YEAR_NAME,
    YEAR_TYPE_5,
    YEARP,
    YEARQ,
    YEARW,
    FISCAL_YEAR_NAME,
    FISCAL_HALF_YEAR,
    FISCAL_HALF_YEAR_NAME,
    FISCAL_QUARTER,
    FISCAL_MONTH,
    FISCAL_MONTH_NAME,
    FISCAL_WEEK,
    FISCAL_WEEK_NAME,
    DATE_CHAR,
    DATE_YYYMMDD_CHAR,
    PERIOD_TYPE_1_NAME,
    PERIOD_TYPE_2_NAME,
    PERIOD_TYPE_3_NAME,
    PERIOD_TYPE_4_NAME,
    FIRST_DAY_OF_WEEK,
    LAST_DAY_OF_WEEK,
    FIRST_DAY_OF_PERIOD,
    LAST_DAY_OF_PERIOD,
    FIRST_DAY_OF_FONTERRA_PERIOD,
    LAST_DAY_OF_FONTERRA_PERIOD,
    INVENTORY_LAST_DAY_OF_WEEK,
    INVENTORY_LAST_DAY_OF_PERIOD,
    INVENTORY_LAST_DAY_OF_FONTERRA_PERIOD,
    PREVIOUS_PERIOD_TYPE_4,
    PREVIOUS_PERIOD_TYPE_4_WEEK_STARTING,
    MATERIAL_PLAN_FLAG,
    MATERIAL_PLAN_FISCAL_PERIOD_OPENING_DAY,
    CURRENT_DAY_FLAG,
    CURRENT_WEEK_FIRST_DAY_FLAG,
    FISCAL_PERIOD_NUMBER_OF_DAYS,
    FISCAL_WEEK_NUMBER_OF_DAYS,
    FONTERRA_PERIOD_NUMBER_OF_DAYS,
    YEAR_CHAR,
    ALT_QUARTER_CHAR,
    ALT_QUARTER_NAME,
    ALT_HALF,
    ALT_HALF_NAME,
    MONTH_CHAR,
    MONTH_SHORT_NAME,
    ALT_WEEK_CHAR,
    ALT_WEEK_NAME,

from BEGA_MASTER_LANDING_{{ env }}.M3.CALENDAR
;